@import '../abstract/variaveis';

.ultimo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 4rem 8rem;
    gap: 4rem;
    .imagem {
        width: 50%;
        img {
            max-width: 100%;
            border: 3px solid $cor-primaria;
            border-radius: 40px;
        }
    }
    .texto {
        width: 50%;
        h3 {
            font-size: $tamanho-do-texto / 1.2;
            color: $cor-primaria;
            font-weight: bold;
            text-transform: uppercase;
        }
        h4 {
            font-size: $tamanho-do-texto / 2;
            color: $cor-secundaria;
            margin: .5em 0;
            font-weight: 500;
        }
        p {
            font-size: $tamanho-do-texto / 2.5;
            color: $cor-secundaria;
            font-weight: 400;
        }
    }
}