//Fontes
$fonte: 'roboto', sans-serif;

//Cores
//$cor-primaria: #557571;
$cor-primaria: #513252;
//$cor-secundaria: #D49A89;
$cor-secundaria: #CA4E79;
//$cor-terciaria: #F4F4F4;
$cor-terciaria: #F4F4F4;
//$cor-hover: #F7D1BA;

//tamanho das fontes

$tamanho-do-texto: 3rem;